<h1> Social Music Network Login </h1><br>
<%=form_for(@user) do |t|%>
<%=t.label :email%>: <%= t.text_field :email_address%>
<%= t.label :password%>: <%= t.password_field :password%>
<%=t.submit "Login"%>
<%end%>